.controls {
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  box-shadow: 1px 1px 10px green;
  z-index: 2;
}

.controlField {
  margin-right: 1rem;

  input, button {
    display: inline-block;
    margin-left: 1rem;

    &:first-child {
      margin-left: 0;
    }
  }
}