.app {
    color: green;
    font-size: 14px;
}

.controls {
    padding: 20px 0;
    margin: 0 auto;
}

.controlField {
    margin-right: 1rem;

    input, button {
        display: inline-block;
        margin-left: 1rem;
    }
}